body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
#wb_Form1
{
   background-color: transparent;
   background-image: url(../images/index_Form1_bkgrnd.png);
   background-repeat: repeat;
   background-position: left top;
   border: 0px solid #DCDCDC;
}
#Label1
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#codigo
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#codigo:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label2
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Editbox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label3
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Editbox3
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label4
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Editbox4
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#ubicacion
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Editbox5
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox5:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#cantidad
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Editbox6
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox6:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#categoria
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#estado
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#crear
{
   border: 1px solid #007bff;
   border-radius: 4px;
   background-color:#007bff;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#actualizar
{
   border: 1px solid #007bff;
   border-radius: 4px;
   background-color: #007bff;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#Combobox2
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox2:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox3
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox3:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Combobox4
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   box-sizing: border-box;
}
#Combobox4:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label5
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label6
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#proveedor
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#telefono
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#telefono:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#Label7
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Editbox1
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 16px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
}
#Editbox1:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
#FileUpload1 *
{
   box-sizing: border-box;
}
#FileUpload1{
   display: table;
   border-collapse: separate;
   margin: 0;
}
#FileUpload1 .form-control
{
   display: block;
   width: 100%;
   height: 26px;
   line-height: 18px;
   padding: 4px 4px 4px 4px;
   font-family:Arial;
   font-weight: normal;
   font-size: 13px;
   color: #555555;
   background-color: #FFFFFF;
   background-image: none;
   border: 1px solid #CCCCCC;
   border-radius: 4px;
}
#FileUpload1 .form-control
{
   position: relative;
   z-index: 2;
   float: left;
   width: 100%;
   margin-bottom: 0px;
}
#FileUpload1 label
{
   display: inline-block;
   margin-bottom: 5px;
   font-weight: 700;
}
#FileUpload1 .input-group-btn, FileUpload1 .form-control
{
   display: table-cell;
}
#FileUpload1 :first-child.form-control, FileUpload1 :first-child.input-group-btn > .btn, FileUpload1 :first-child.input-group-btn > .btn-group > .btn, FileUpload1 :last-child.input-group-btn > :not(:last-child):not(.dropdown-toggle).btn, FileUpload1 :last-child.input-group-btn > :not(:last-child).btn-group > .btn
{
   border-bottom-right-radius: 0px;
   border-top-right-radius: 0px;
}
#FileUpload1 .input-group-btn
{
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
   position: relative;
   font-size: 0px;
   white-space: nowrap;
}
#FileUpload1 .btn
{
   display: inline-block;
   margin-bottom: 0px;
   font-weight: 400;
   text-align: center;
   vertical-align: middle;
   cursor: pointer;
   background-color: #007bff;
   background-image: none;
   border: 1px solid #007bff;
   color: #FFFFFF;
   white-space: nowrap;
   padding: 4px 8px 4px 8px;
   font-family:Arial;
   font-weight: normal;
   font-size: 13px;
   line-height: 18px;
   border-radius: 4px;
   height: 26px;
}
#FileUpload1 .input-group-btn > .btn
{
   position: relative;
}
#FileUpload1 :last-child.form-control, #FileUpload1 :last-child.input-group-btn > .btn, #FileUpload1 :last-child.input-group-btn > .btn-group > .btn, #FileUpload1 :first-child.input-group-btn > :not(:first-child).btn, FileUpload1 :first-child.input-group-btn > :not(:first-child).btn-group > .btn
{
   border-bottom-left-radius: 0px;
   border-top-left-radius: 0px;
}
#FileUpload1 :last-child.input-group-btn > .btn, FileUpload1 :last-child.input-group-btn > .btn-group
{
   margin-left: -1px;
}
#Label8
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Layer1
{
   background-color: transparent;
   background-image: url(../images/index_Layer1_bkgrnd.png);
   background-repeat: repeat;
   background-position: left top;
   box-sizing: border-box;
}
#Line1
{
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 2px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Label9
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label10
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label11
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label13
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label14
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label15
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label16
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Label17
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color :#000000;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   padding: 4px 4px 4px 4px;
   margin: 0;
   text-align: left;
   vertical-align: top;
}
#Button1
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#Button2
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#Button3
{
   border: 1px solid #2E6DA4;
   border-radius: 4px;
   background-color: #3370B7;
   background-image: none;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 13px;
   -webkit-appearance: none;
   margin: 0;
}
#Line2
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#Line3
{
   border-color: #FFFFFF;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0px;
   border-left: 0px;
   border-right: 0px;
   height: 0 !important;
   line-height: 0px !important;
   margin: 0;
   padding: 0;
}
#telefono
{
   position: absolute;
   left: 94px;
   top: 479px;
   width: 174px;
   height: 16px;
   z-index: 23;
}
#Combobox2
{
   position: absolute;
   left: 94px;
   top: 398px;
   width: 184px;
   height: 28px;
   z-index: 14;
}
#Editbox5
{
   position: absolute;
   left: 94px;
   top: 211px;
   width: 174px;
   height: 16px;
   z-index: 8;
}
#ubicacion
{
   position: absolute;
   left: 11px;
   top: 287px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 7;
}
#Button3
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 67px;
   height: 17px;
   z-index: 39;
}
#Combobox3
{
   position: absolute;
   left: 94px;
   top: 320px;
   width: 184px;
   height: 28px;
   z-index: 16;
}
#Editbox6
{
   position: absolute;
   left: 94px;
   top: 250px;
   width: 174px;
   height: 16px;
   z-index: 10;
}
#Button2
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 67px;
   height: 17px;
   z-index: 38;
}
#Combobox4
{
   position: absolute;
   left: 94px;
   top: 286px;
   width: 184px;
   height: 28px;
   z-index: 17;
}
#Button1
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 67px;
   height: 17px;
   z-index: 37;
}
#FileUpload1-file
{
   display: none;
}
#Editbox1
{
   position: absolute;
   left: 94px;
   top: 435px;
   width: 174px;
   height: 16px;
   z-index: 24;
}
#proveedor
{
   position: absolute;
   left: 11px;
   top: 436px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 22;
}
#Editbox2
{
   position: absolute;
   left: 94px;
   top: 86px;
   width: 174px;
   height: 16px;
   z-index: 18;
}
#estado
{
   position: absolute;
   left: 11px;
   top: 400px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 12;
}
#Line1
{
   position: absolute;
   left: 90px;
   top: 89px;
   width: 698px;
   z-index: 28;
}
#Editbox3
{
   position: absolute;
   left: 94px;
   top: 131px;
   width: 174px;
   height: 16px;
   z-index: 4;
}
#Label9
{
   position: absolute;
   left: -90px;
   top: 19px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 29;
}
#codigo
{
   position: absolute;
   left: 94px;
   top: 50px;
   width: 174px;
   height: 16px;
   z-index: 1;
}
#Line3
{
   position: absolute;
   left: 88px;
   top: 150px;
   width: 766px;
   z-index: 41;
}
#Label8
{
   position: absolute;
   left: 11px;
   top: 519px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 27;
}
#actualizar
{
   position: absolute;
   left: 180px;
   top: 549px;
   width: 96px;
   height: 25px;
   z-index: 21;
}
#crear
{
   position: absolute;
   left: 94px;
   top: 549px;
   width: 72px;
   height: 25px;
   z-index: 13;
}
#Line2
{
   position: absolute;
   left: 84px;
   top: 11px;
   width: 766px;
   z-index: 40;
}
#Label13
{
   position: absolute;
   left: 350px;
   top: 39px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 32;
}
#Label10
{
   position: absolute;
   left: 130px;
   top: 39px;
   width: 52px;
   height: 16px;
   line-height: 16px;
   z-index: 30;
}
#Label7
{
   position: absolute;
   left: 11px;
   top: 480px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 25;
}
#Label11
{
   position: absolute;
   left: -210px;
   top: 99px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 31;
}
#Label6
{
   position: absolute;
   left: 11px;
   top: 133px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 20;
}
#Label16
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 35;
}
#Layer1
{
   position: absolute;
   text-align: left;
   left: 390px;
   top: 21px;
   width: 560px;
   height: 589px;
   z-index: 43;
}
#Label5
{
   position: absolute;
   left: 11px;
   top: 51px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 19;
}
#Label17
{
   position: absolute;
   left: 10px;
   top: 10px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 36;
}
#Label4
{
   position: absolute;
   left: 11px;
   top: 251px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 5;
}
#Label14
{
   position: absolute;
   left: 439px;
   top: 39px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 33;
}
#cantidad
{
   position: absolute;
   left: 11px;
   top: 320px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 9;
}
#Label3
{
   position: absolute;
   left: 11px;
   top: 212px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 3;
}
#Label15
{
   position: absolute;
   left: -210px;
   top: 359px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 34;
}
#categoria
{
   position: absolute;
   left: 11px;
   top: 360px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 11;
}
#Label2
{
   position: absolute;
   left: 11px;
   top: 175px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 2;
}
#FileUpload1
{
   position: absolute;
   left: 94px;
   top: 518px;
   width: 184px;
   height: 26px;
   z-index: 26;
}
#Combobox1
{
   position: absolute;
   left: 94px;
   top: 358px;
   width: 184px;
   height: 28px;
   z-index: 15;
}
#Editbox4
{
   position: absolute;
   left: 94px;
   top: 174px;
   width: 174px;
   height: 16px;
   z-index: 6;
}
#Label1
{
   position: absolute;
   left: 11px;
   top: 87px;
   width: 72px;
   height: 16px;
   line-height: 16px;
   z-index: 0;
}
#wb_Form1
{
   position: absolute;
   left: 40px;
   top: 21px;
   width: 327px;
   height: 589px;
   z-index: 42;
}
@media only screen
{
body
{
   background-color: #FFFFFF;
   background-image: none;
}
#wb_Form1
{
   left: 160px;
   top: 122px;
   width: 297px;
   height: 610px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #000000;
   background: #ffffff;
}
#Label1
{
   left: 10px;
   top: 67px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#codigo
{
   left: 97px;
   top: 21px;
   width: 170px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#codigo
{
   line-height: 16px;
}
#Label2
{
   left: 10px;
   top: 149px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox2
{
   left: 97px;
   top: 66px;
   width: 170px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox2
{
   line-height: 16px;
}
#Label3
{
   left: 10px;
   top: 191px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox3
{
   left: 97px;
   top: 110px;
   width: 170px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox3
{
   line-height: 16px;
}
#Label4
{
   left: 10px;
   top: 236px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox4
{
   left: 97px;
   top: 148px;
   width: 170px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox4
{
   line-height: 16px;
}
#ubicacion
{
   left: 10px;
   top: 275px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox5
{
   left: 97px;
   top: 190px;
   width: 170px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox5
{
   line-height: 16px;
}
#cantidad
{
   left: 10px;
   top: 320px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox6
{
   left: 97px;
   top: 234px;
   width: 170px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox6
{
   line-height: 16px;
}
#categoria
{
   left: 10px;
   top: 361px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#estado
{
   left: 10px;
   top: 399px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#crear
{
   left: 97px;
   top: 570px;
   width: 73px;
   height: 25px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #007bff;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#actualizar
{
   left: 181px;
   top: 570px;
   width: 96px;
   height: 25px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #007bff;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#Combobox2
{
   left: 97px;
   top: 399px;
   width: 180px;
   height: 28px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox1
{
   left: 97px;
   top: 357px;
   width: 180px;
   height: 28px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox3
{
   left: 97px;
   top: 318px;
   width: 180px;
   height: 28px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Combobox4
{
   left: 97px;
   top: 273px;
   width: 180px;
   height: 28px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
}
#Label5
{
   left: 10px;
   top: 22px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label6
{
   left: 10px;
   top: 110px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#proveedor
{
   left: 10px;
   top: 450px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#telefono
{
   left: 97px;
   top: 493px;
   width: 170px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#telefono
{
   line-height: 16px;
}
#Label7
{
   left: 10px;
   top: 495px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox1
{
   left: 97px;
   top: 449px;
   width: 170px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Editbox1
{
   line-height: 16px;
}
#FileUpload1
{
   left: 97px;
   top: 534px;
   width: 180px;
   height: 26px;
   visibility: visible;
   display: table;
   color: #555555;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FFFFFF;
   background-image: none;
   border-radius: 4px;
   margin: 0;
}
#Label8
{
   left: 10px;
   top: 534px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Layer1
{
   left: 490px;
   top: 122px;
   width: 845px;
   height: 610px;
   visibility: visible;
   display: inline;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #1E1E1E;
   background: #ffffff;
}
#Line1
{
   left: 43px;
   top: 100px;
   width: 766px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line1
{
   border-color: #FFFFFF;
   border-bottom-width: 1px;
}
#Label9
{
   left: 43px;
   top: 50px;
   width: 22px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label10
{
   left: 83px;
   top: 50px;
   width: 52px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label11
{
   left: 153px;
   top: 50px;
   width: 62px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label13
{
   left: 234px;
   top: 50px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label14
{
   left: 324px;
   top: 50px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label15
{
   left: 416px;
   top: 50px;
   width: 82px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label16
{
   left: 518px;
   top: 50px;
   width: 62px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Label17
{
   left: 658px;
   top: 50px;
   width: 72px;
   height: 16px;
   visibility: visible;
   display: inline;
   color: #000000;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: transparent;
   background-image: none;
   border-radius: 4px;
   margin: 0;
   padding: 4px 4px 4px 4px;
   text-align: left;
}
#Button1
{
   left: 665px;
   top: 114px;
   width: 67px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FA8072;
   background-image: none;
   border: 1px solid #FA8072;
   border-radius: 4px;
   margin: 0;
}
#Button2
{
   left: 605px;
   top: 114px;
   width: 50px;
   height: 22px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FA8072;
   background-image: none;
   border: 1px solid #FA8072;
   border-radius: 4px;
   margin: 0;
}
#Button3
{
   left: 742px;
   top: 115px;
   width: 67px;
   height: 21px;
   visibility: visible;
   display: inline;
   color: #FFFFFF;
   font-size: 13px;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   background-color: #FA8072;
   background-image: none;
   border: 1px solid #FA8072;
   border-radius: 4px;
   margin: 0;
}
#Line2
{
   left: 39px;
   top: 22px;
   width: 766px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line2
{
   border-color: #FFFFFF;
   border-bottom-width: 1px;
}
#Line3
{
   left: 43px;
   top: 161px;
   width: 766px;
   height: 1px;
   visibility: visible;
   display: inline;
   margin: 0;
}
#Line3
{
   border-color: #FFFFFF;
   border-bottom-width: 1px;
}
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #333;}