
.tabla_de_contenido{
  display: flex;
}
.navegador_sistema2{
  background: #333;
  width: 150px;
  height: 2000px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #333;
  color:#007bff;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #333;}



hr {
	position:absolute;
	width: 100%;
	top:110px;
	background:green;
	
}

#logo1{
	
		
		width:200px;
		height:120px;
		background:white;
		position:relative;
		left:30px;
		top:10px;
		
}

.logoa{width:300px
height:300px;
}


.usuario1{
	border:2px solid;
	border-radius:7px;
	
	background:#007bff;;
	color:white;
	position:absolute;	
}


#acceso_de_pago{
	border:3px solid;
	border-radius:10px;
		background: #fff;
		background: -moz-linear-gradient(#fff, #999);
		background: -webkit-linear-gradient(#fff, #999);
	width:1510px;
	height:550px;
	display:center;
	
	
	
}



.codigo_factura {
	border:3px solid;
	background:gray;
	color:white;
}

.cliente {
	border:3px solid;
	background:gray;
	color:white;
}

.vendedor{
	border:3px solid;
	background:gray;
	color:white;
}

.tiposervicio{
	border:3px solid;
	background:gray;
	color:white;
}

.transaccion{
	border:3px solid;
	background:gray;
	color:white;
}

.forma_pago{
	border:3px solid;
	background:gray;
	color:white;
}

.total{
	border:3px solid;
	background:gray;
	color:white;
}

.fecha{
	border:3px solid;
	background:gray;
	color:white;
}

.acciones{
	border:3px solid;
	background:gray;
	color:white;
}



.chulodos img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1500px;
	top:450px;
		
}

.equisdos img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:450px;	
}

.guardardos img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:450px;
}


.chulotres img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1500px;
	top:482px;	
}

.equistres img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:482px;	
}

.guardartres img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:482px;	
}



.chulocuatro img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1500px;
	top:512px;	
}

.equiscuatro img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;	
	top:512px;
}

.guardarcuatro img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:512px;
}



.chulocinco img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;	
	left:1500px;
	top:542px;
}

.equiscinco img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:542px;
}

.guardarcinco img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:542px;
}



.chuloseis img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;	
	left:1500px;
	top:577px;	
}

.equisseis img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:577px;	
}

.guardarseis img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:577px;
}



.chulosiete img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;	
	left:1500px;
	top:609px;
}

.equissiete img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:609px;
}

.guardarsiete img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:609px;
}



.chuloocho img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;	
	left:1500px;
	top:640px;
}

.equisocho img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:640px;
}

.guardarocho img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:640px;
}

.chulonueve img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;	
	left:1500px;
	top:673px;
}

.equisnueve img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:673px;
}

.guardarnueve img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:673px;
}



.chulodiez img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1500px;
	top:704px;	
}

.equisdiez img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:704px;
}

.guardardiez img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:704px;
}



.chuloonce img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1500px;
	top:737px;
}

.equisonce img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:green;
	color:white;
	position:absolute;
	left:1532px;
	top:737px;	
}

.guardaronce img{
	border:2px solid;
	width: 2%;
	height:3%;
	background:orange;
	color:white;
	position:absolute;
	left:1566px;
	top:737px;
}

.pagof1{
	border:2px solid;
	width:150px;
	height:70px;
	border-radius:7px;
	background:#007bff;;
	color:white;
	position:absolute;	
	left:760px;
	top:790px;
}
