.tabla_de_contenido{
  display: flex;
}
.navegador_sistema2{
  background: #333;
  width: 150px;
  height: 2000px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #333;
  color:#007bff;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #333;}


/* IDEA: aqui esta el estilo del formulario de Productos */

.overlay
{
 background: rgba(0, 0, 0, 0.4);
 position: absolute;

 bottom: 0;
 left: 0;
 right: -100px;
 up: 52px;
 display: flex;
 align-items: center;
 justify-content:  center;
 visibility: hidden;
top: -330px;
margin:
}
.overlay.active
{
 visibility: visible;

}

.popup
{
  background: #fff;
   background: -moz-linear-gradient(#fff, #999);
   background: -webkit-linear-gradient(#fff, #999);

 box-shadow: 0px 0px 5px 0px rgba(255, 0, 0, 0.3);
 border-radius: 3px;
 padding: 30px;
 text-align:  right;
 width: 350px;

}
.popup .btn-cerrar-popup
{
font-size: 16px;
line-height: 16px;
display: block;
text-align: right;
color: #BBBBBB;
transition: .3s ease all:
}
.popup .btn-cerrar-popup:hover
{
 color: #000;
}
.popup h3
{
 font-size: 36px;
 font-weight: 600;
 margin-bottom: 10px;
 /*opacity: */
}
.popup h3
{
 font-size: 36px;
 font-weight: 600;
 margin-bottom: 10px;
 /*opacity: */
}

.popup h4
{
 font-size: 36px;
 font-weight: 300;
 margin-bottom: 40px;
 /*opacity: */
}
.popup form .Contenedor_inputs
{ display: block;}
   .popup form .Contenedor_inputs input{
     width: 100%;
     margin-bottom: 20px;
     height: 52px;
     line-height: 52px;
     font-size: 18px;
     text-align: center;
     border: 1px solid #bbbbbb;
   }
 .popup  form .btn-submit
{
 padding: 0;
 height: 40px;
 line-height: 40PX;
 border: none;
 color: #fff;
 background: #5E7DE3;
 border-radius: 3px;
 font-size: 16px;
 cursor: pointer;
 transition: .3s ease all;



}
 .popup  form .btn-submit:hover
 {
   background: rgba(94,125,227, ,9);
   text-align: center;
 }
.tabla_de_producto{
    position: absolute;
    top:400px;
    right:120px;
    left: 180px;
}
